
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

/*create default setting and reset properties of webpages*/

:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(26, 114, 99, 0.8);
    --colorBlueWhite: #00BCD4;
    --buttonColorGold: linear-gradient(to right bottom, rgba(255, 234, 0, 0.8),rgba(180, 60, 52, 0.8));
    --buttonColorGreen: linear-gradient(to right bottom, #FFEB3B,#03c2af);
    --text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*set default font size to rem, 1rem = 10px when font-size is 62,5% */

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* 1200px/16px = 75em*/
@media(max-width: 75em){
    html{
        font-size: 60%;
    }
}

/* 980px/16px = 75em*/
@media(max-width: 61.25em){
    html{
        font-size: 58%;
    }
}

/* 460px/16px = 75em*/
@media(max-width: 28.75em){
    html{
        font-size: 55%;
    }
}

body{
    background-image: var(--buttonColorGreen);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 2.2rem;
    color: white;
}

.container{
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
}

.header-title{
    text-align: center;
    padding: 5rem 0;
}

.header-title h1{
    font-size: 4rem;
}

.header-title p{
    font-style: italic;
}

.main-form{
    background-color: var(--color-darkblue-alpha);
    padding: 5rem;
    border-radius: 1rem;
    margin-bottom: 5rem;
}

.form-box-input{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

label{
    margin-bottom: 0.8rem;
    
}

#input-box{
    display: block;
    width: 100%;
    height: 4rem;
    padding: 0 0.8rem;
    color: #495057;
    border: 2px solid #ced4da;
    border-radius: 0.5rem;
    transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

#input-box:focus{
    border-color: var(--color-darkblue-alpha);
   outline: 0;
   box-shadow: 0 0 0 0.135rem white;
}


textarea{
    margin-top: 1rem;
    width: 100%;
    padding: 0 0 8rem 0.4rem;
    border-radius: 0.5rem;
    border: 2px solid #ced4da;
    transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

textarea:focus{
    border-color: var(--color-darkblue-alpha);
    outline: 0;
    box-shadow: 0 0 0 0.3rem white;
}

button{
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5rem;
    background-color: tomato;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #ced4da;
    transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

button:focus{
    border-color: white;
    outline: 0;
    box-shadow: 0 0 0 0.3rem tomato;
}



/* ----------- scroll right tab ---------------*/

/* width */
::-webkit-scrollbar {
    width: 16px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right bottom, rgb(255, 234, 0, 0.8),rgba(180, 60, 52, 0.8)) ;
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to right bottom, #FFEB3B,#03c2af) ;
  }