
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

/*create default setting and reset properties of webpages*/

:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(26, 114, 99, 0.8);
    --colorBlueWhite: #00BCD4;
    --buttonColorGold: linear-gradient(to right bottom, rgba(255, 234, 0, 0.8),rgba(180, 60, 52, 0.8));
    --buttonColorGreen: linear-gradient(to right bottom, #FFEB3B,#03c2af);
    --text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*set default font size to rem, 1rem = 10px when font-size is 62,5% */

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* 1200px/16px = 75em*/
@media(max-width: 75em){
    html{
        font-size: 60%;
    }
}

/* 980px/16px = 75em*/
@media(max-width: 61.25em){
    html{
        font-size: 58%;
    }
}

/* 460px/16px = 75em*/
@media(max-width: 28.75em){
    html{
        font-size: 55%;
    }
}

body{
    background-color: var(--buttonColorGreen);
    font-size: 2rem;
}






/* ----------- scroll right tab ---------------*/

/* width */
::-webkit-scrollbar {
    width: 16px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right bottom, rgb(255, 234, 0, 0.8),rgba(180, 60, 52, 0.8)) ;
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to right bottom, #FFEB3B,#03c2af) ;
  }